# Compiled programs
/agent_639
/controller_639
*.o

# File transfer test data
/agentfiles/
/downloads/
/sample.txt
/binary_test.bin
/empty_test.txt

# Runtime log
/remoteops_IT24100639.log

# Python cache
__pycache__/
*.pyc
